.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;

  &__label {
    cursor: pointer;
    user-select: none;
  }

  &--done &__label {
    text-decoration: line-through;
  }

  &--important &__label {
    font-weight: bold;
    color: steelblue;
  }

  &__buttons {
    display: flex;
    margin: -3px -3px -3px 1.5rem;
    height: 100%;
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 3px;
    width: 35px;
    height: 35px;
  }
}
